html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* https://codepen.io/MarioDesigns/pen/woJgeo */
@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(255,255,255,0.6);
        transform: translatey(0px);
    }
    50% {
        box-shadow: 0 25px 15px 0px rgba(255,255,255,0.2);
        transform: translatey(-20px);
    }
    100% {
        box-shadow: 0 5px 15px 0px rgba(255,255,255,0.6);
        transform: translatey(0px);
    }
}

.root {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile {
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 240px;
    font-size: 14px;
    color: white;
}

.avatar img {
    width: 84px;
    border-radius: 50%;
    box-shadow: 0 5px 15px 0px rgb(255 255 255 / 60%);
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
}