html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* https://codepen.io/MarioDesigns/pen/woJgeo */
@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0,0,0,0.4);
        transform: translatey(0px);
    }
    50% {
        box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
        transform: translatey(-20px);
    }
    100% {
        box-shadow: 0 5px 15px 0px rgba(0,0,0,0.4);
        transform: translatey(0px);
    }
}

.root {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile {
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 240px;
    font-size: 14px;
    color: black;
    position: relative;
}

.avatar img {
    width: 84px;
    border-radius: 50%;
    box-shadow: 0 5px 15px 0px rgb(0 0 0 / 60%);
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
}

.description {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: italic;
    color: rgba(0,0,0,0.87);
    text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

.node-1 {
    position: absolute;
    left: -24px;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #ebebeb;
    animation: float 5s ease-in-out infinite;
}

.node-2 {
    position: absolute;
    top: -48px;
    right: 2px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #ebebeb;
    animation: float 3s ease-in-out infinite;
}

.svg-background {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#svg {
    width: 480px;
    height: 400px;
    margin-top: 24px;
}