:host {
    display: block;
    height: 100%;
    position: relative;
}

.editor-map-container {
    height: 100%;
}

.editor-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: rgba(0, 0, 0, 0.6);
}
