<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .header {
            height: 100px;
            background: green;
        }
        .main {
            width: 200px;
            height: 200px;
            position: relative;
            box-sizing: border-box;
            border: 1px solid grey;
            overflow: auto;
        }
        .A {
            width: 50px;
            height: 50px;
            background: red;
            position: absolute;
            top: auto;
            bottom: 95%;
        }
    </style>
</head>
<body>
    <div class="header"></div>
    <div class="main">
        <div class="A"></div>
    </div>
    <span>父元素设置overflow为auto，以及relative，子元素absolute定位，那么子元素超出后会被header覆盖<br>
    父子都去掉position属性，父元素仍设置overflow为auto，子元素超出后也会被覆盖
    </span>
</body>
</html>