:host {
    display: block;
    width: 480px;
    height: 320px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    background-color: white;
    box-sizing: border-box;
    overflow: hidden;
}

.header {
    padding: 0 12px;
    height: 32px;
}

.body {
    padding: 0 24px;
    height: calc(100% - 32px);
    overflow-y: auto;
}