html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.app-root {
    display: block;
    height: 100%;
    position: relative;
}

.float-widget {
    position: absolute;
    right: 8px;
    bottom: 8px;
}
