/*--------------------------------------------*/
body,div,svg{
	box-sizing: content-box;
}
.row {margin-right: 0px;margin-left: 5px;}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {float: left;position: relative; min-height: 1px;}
.col-xs-12 {width: 100%;}
.col-xs-11 {width: 91.66666667%;}
.col-xs-10 {width: 83.33333333%;}
.col-xs-9 {width: 75%;}
.col-xs-8 {width: 66.66666667%;}
.col-xs-7 {width: 58.33333333%;}
.col-xs-6 {width: 50%;}
.col-xs-5 {width: 41.66666667%;}
.col-xs-4 {width: 33.33333333%;}
.col-xs-3 {width: 25%;}
.col-xs-2 {width: 16.66666667%;}
.col-xs-1 {width: 8.33333333%;} 
 
 /*--------------------zoom --------------*/
.esriSimpleSlider {border:none;display: inline-block;box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.65);border-radius: 4px;}
.esriSimpleSliderTL {top:50px;left:20px;}
.esriSimpleSliderTR {top:20px;right:20px;}
.esriSimpleSliderBL {bottom:40px;left:20px;}
.esriSimpleSliderBR {bottom:45px;right:20px;}
.esriSimpleSlider div {width: 28px;height: 28px;border: none;user-select: none;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;border-radius: 4px;-webkit-border-radius: 4px;-moz-border-radius: 4px;-o-border-radius: 4px;}
.esriSimpleSlider span{text-indent: 1px;font: bold 18px "Lucida Console",Monaco,monospace;line-height:1.5;color: #166BC5;text-align: center;}
.esriSimpleSliderVertical .esriSimpleSliderIncrementButton {border-bottom:1px solid #ccc;border-radius: 4px 4px 0 0;-webkit-border-radius: 4px 4px 0 0;}
.esriSimpleSliderVertical .esriSimpleSliderDecrementButton {border-top: none;border-radius: 0 0 4px 4px;}
.esriSimpleSliderHorizontal.esriSimpleSliderBL {	left:5px;}
.esriSimpleSliderHorizontal.esriSimpleSliderBR {	right:5px;}
.esriSimpleSliderHorizontal .esriSimpleSliderIncrementButton {float:right;border-left:1px solid #ccc;-webkit-border-radius:0 4px 4px 0;	border-radius:0 4px 4px 0;}
.esriSimpleSliderHorizontal .esriSimpleSliderDecrementButton {float:left;border-right:none;	-webkit-border-radius:4px 0 0 4px;	border-radius:4px 0 0 4px;}
.esriSimpleSliderDecrementButton:hover,.esriSimpleSliderIncrementButton:hover,.esriSimpleSliderDecrementButton:active,.esriSimpleSliderIncrementButton:active {background-color: #FFF;}
.esriSimpleSliderDisabledButton,.esriSimpleSliderDisabledButton:active,.esriSimpleSliderDisabledButton:hover {cursor:default;background-color:#f4f4f4;color:#bbb;}
.esriSimpleSliderHorizontal .esriSimpleSliderIncrementButton.dj_ie67Fix {float:none;text-align:center;}

.map-controls{
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/*--------------------toolbar-------------*/
.toolbars{
	position:absolute;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.65);
	border-radius: 4px;
	background-color: #FFF;
	-ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Strength=5,Direction=135, Color='#666666')";
}

.toolbars  .item{
	float: left;
	height: 20px;
	padding:4px;
	width:20px;
	cursor:pointer;
	fill:rgb(22,106,197);
}
.toolbars .toolbarscontain .item:hover{
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.65);
	border-radius: 4px;
	outline:solid 1px #B4B5B5;
	background-color:#F6F6F5;
	fill:#e97e61;
}
.toolbars .toolbarscontain{float:left}

/*--------------------fastdisplaylayer-------------*/
.fastdisplaylayer{
	position:absolute;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.65);
	border-radius: 4px;
	background-color: #FFF;
	-ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Strength=5,Direction=135, Color='#666666')";
}

.fastdisplaylayer  .item{
	height: 25px;
	margin:1px;
	width:25px;
	text-align:center;
	cursor:pointer;
	fill:rgb(22,106,197);
}
.fastdisplaylayer .fastdisplaylayercontain .item:hover{
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.65);
	border-radius: 4px;
	outline:solid 1px #B4B5B5;
	background-color:#F6F6F5;
	fill:#e97e61;
}

.fastdisplaylayerselection{
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.65);
	border-radius: 4px;
	outline:solid 1px #B4B5B5;
	background-color:#F6F6F5;
	fill:#e97e61;
}

/*--------------------------panel------------------------------------------*/
.gis_base_panel {
	position:absolute;
	background:rgba(241,241,234,0.9);
	box-shadow: 0 1px 1px rgba(81,159,215,0.35); 
	border-radius: 5px;
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#88F1F1EA',endColorstr='#88F1F1EA') progid:DXImageTransform.Microsoft.Shadow(Strength=5,Direction=135, Color='#666666')";
}

.gis_base_panel .title{
	background:rgba(150,150,150,0.8);
	padding:0px 5px 0px 15px;
	height:33px;
	font:14px/2.2 微软雅黑;
	color:#FFF;
	box-shadow: 0 1px 1px rgba(81,159,215,0.35); 
	border-radius: 5px 5px 0px 0px;
	border-bottom:1px solid #CCC;
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#CD969696',endColorstr='#CD969696')";
}
.gis_base_panel .title>span{
	font:14px/2.2 微软雅黑;
    position: absolute;
}
.gis_base_panel .topToolBar{
	float:right;
}
.gis_base_panel .svgitem{
	float: left;
	height: 25px;
	padding:4px;
	width:18px;
	cursor:pointer;
	fill:white;
}
.gis_base_panel .svgitem:hover{
	fill:#e97e61;
}
.gis_base_panel .content{
	padding:5px 12px 5px 12px;
	font:12px/1.5 微软雅黑;
	color:#969696;
	overflow-y:auto;
	overflow-x:auto;
	position: absolute;
	top: 33px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

.gis_base_panel .footer{
	font:12px/1.5 微软雅黑;
	color:#969696;
	bottom:0px;
	position: absolute;
}

.gis_base_panel .button{
	background: #6acb58;
    border-radius: 3px 3px 3px 3px;
    cursor: pointer;
    color: #FFF;
    padding: 1px 10px 1px 10px;
    font-size: 12px;
	margin:5px 10px 2px 10px;
}
.gis_base_panel .button:hover{
	background:rgba(122,218,103,0.7);
}
/*-------------------------------- button ---------------------------------------*/
.app-button{float:right;margin-right:10px;border-radius:5px;text-align:center;color:#FFFFFF;padding: 0 10px 0 10px;}
.app-button:hover{cursor:pointer;}
.app-button-big{min-width:80px;height:30px;line-height:30px;font-size:15px;}
.app-button-middle{min-width:60px;height:25px;line-height:25px;font-size:12px;}
.app-button-green{background-color:#64c97c;}
.app-button-green:hover{background-color:#2d9a47;}
.app-button-red{background-color:#ef6464;}
.app-button-red:hover{background-color:#c63636;}
.app-button-blue{background-color:#41bfe2;}
.app-button-blue:hover{background-color:#0d9cc4;}
.app-button-gray{background-color:#888888;}
.app-button-disabled{background-color:#999999;}
.app-button-disabled:hover{background-color:#999999;}
/*-------------------------------- box ---------------------------------------*/
.app-mask{position:absolute;top:0px;left:0px;right:0px;bottom:0px;width:100%;height:100%;opacity:0.5;background-color:#FFFFFF;display:none;}
.app-box{position:absolute;height:180px;width:320px;border-radius:5px;background:transparent;padding:0px;margin:0px;border:0px;-webkit-box-shadow: 3px 3px 10px #000000;-moz-box-shadow: 3px 3px 10px #000000;box-shadow: 0px 1px 6px #333333;}
.app-box .app-box-head{height:24px;width:100%;cursor:move;border-top-left-radius:5px;border-top-right-radius:5px;position:absolute;top:0px;left:0px;opacity:0.9;border:0px;}
.app-box .app-box-head .app-box-head-title{width:80px;height:100%;margin-left:5px;float:left;font-size:11px;color:#FFFFFF;white-space:nowrap;}
.app-box .app-box-head .app-box-head-button{float:right;width:100px;height:100%;margin-right:4px;}
.app-box .app-box-head .app-box-head-button .app-box-head-button-btn{cursor:pointer;float:right;margin-top:2px;}
.app-box .app-box-content{box-sizing:border-box;width:100%;position:absolute;top:23px;left:0px;overflow:hidden;opacity:0.7;border-bottom-left-radius:5px;border-bottom-right-radius:5px;padding:3px;border:0px;margin:0px;overflow:hidden;}
.app-box .app-box-alert-image{width:80px;height:80px;position:absolute;margin-left:10px;}
.app-box .app-box-message{height:auto!important;height:40px;min-height:40px;position:absolute;margin-top:38px;left:100px;right:20px;word-wrap:break-word;font-size:13px;color:#ffffff;}
.app-box .app-box-button{width:100px;height:30px;position:absolute;width:90%;bottom:13px;right:10px;}
.app-box .app-box-prompt-text{height:25px;position:absolute;top:45px;left:10px;}
.app-box .app-box-prompt-text input{width:100%;height:100%;color:#ffffff;}
.app-box .app-box-button-btn-sure{background-color:#92C622;display:none;}
.app-box .app-box-button-btn-sure:hover{background-color:red;cursor:pointer;}
.app-box .app-box-button-btn-cancel{background-color:#60BFD9;display:none;}
.app-box .app-box-button-btn-cancel:hover{background-color:red;cursor:pointer;}
.app-box .app-box-button-btn-yes{background-color:#92C622;display:none;}
.app-box .app-box-button-btn-yes:hover{background-color:red;cursor:pointer;}
.app-box .app-box-button-btn-no{background-color:#60BFD9;display:none;}
.app-box .app-box-button-btn-no:hover{background-color:red;cursor:pointer;}

.app-box-head-spe {background-color: #1a4c7c;}
.app-box-content-spe {background-color: #3f6e9b;}
/*---------------------------------------layertree----------------------------*/
.layerTreePanel{width:200px;}
.layerTreePanel .icon-unit{background:url('images/layertree/service.png') no-repeat center center;}
.layerTreePanel .icon-group{background:url('images/layertree/group.png') no-repeat center center;}
.layerTreePanel .icon-layer{background:url('images/layertree/layer.png') no-repeat center center;}

.layerTreePanel .searchBlock{background-color:white;border:1px solid #a8a8a7;width:165px;}
.layerTreePanel .search{border:none;outline:none;width:147px}
.layerTreePanel .clear{
	display:inline-block;
	position:absolute;
	width:16px;
	height:16px;
	background:url('images/layertree/clear.png') no-repeat center center;
	cursor:pointer;
	display:none;
}
/*-----------------------------tranceLegend-----------------------------------*/
.traceLegend{
	width:110px;
	height:40px;
	left:20px;
	bottom:20px;
	display:none;
}
.traceLegend .legendItem{
	padding: 0px;
	margin-left:0px;
	margin-bottom: 5px;
}
.traceLegend .legendItemColor{
	cursor:pointer;
	float: left;
	width:25px;
	height:20px;
	text-align:center;
	color:white;
}


/*--------------------------------------infowindow---------------------------*/
.egovaInfoWindow  .outerPointer,.egovaInfoWindow  .contentPane,.egovaInfoWindow  .actionsPane{
	background:rgba(241,241,234,0.8);
}

.egovaInfoWindow  .titlePane {
	background-color: #d3d3d3;
	color: #4c4c4c;
	padding: 5px 5px 5px 10px;
	-moz-border-radius: 5px 5px 0px 0px;
	-o-border-radius: 5px 5px 0px 0px;
	border: 1px solid #bfbfbf;
	font-family: 微软雅黑;
	font-size: 12px;
}
.egovaInfoWindow .titleButton {
	top: 8px;
}
.egovaInfoWindow .titleButton.maximize {
	right: 25px;
	top: 11px;
	display:none;
}
.egovaInfoWindow .titleButton.restore {
	right: 25px;
	top: 11px;
}
.egovaInfoWindow .titleButton.close {
	right: 5px;
}
.egovaInfoWindow .pointer.top,
.egovaInfoWindow .pointer.topRight,
.egovaInfoWindow .pointer.topLeft {
	background: #BFBFBF;
}

/*---------------------------------geoaddress-----------------------*/
.geoaddress{
	position:absolute;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.65);
	border-radius: 4px;
	background-color: #FFF;
	width:220px;
	height:30px;
	-ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Strength=5,Direction=135, Color='#666666')";
}

.geoaddress>.category{
	height: 24px;
	width: 24px;
	display: inline-block;
	cursor:pointer;
	fill:rgb(22,106,197);
	margin:3px;
}
.geoaddress>.category:hover{
	fill:#e97e61;
}
.geoaddress>.categorypanel{
	position: absolute;
	display:none;
	min-height: 60px;
	margin-left: 0px;
	margin-top: 10px;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.65);
	border-radius: 4px;
	background-color: #FFF;
	width: 220px;
	height:auto;
}
.geoaddress>.categorypanel>.categoryitem{
  width:55px;
  height:60px;
  float:left;
}
.geoaddress>.categorypanel>.categoryitem:hover{
	background-color:#EEE;
	cursor:pointer;
}
.geoaddress>.categorypanel>.categoryitem.active>.categoryicon{
	 border: 1px solid #166BC5;
}
.geoaddress>.categorypanel>.categoryitem.active>.categorylabel{
	 color:#666;
}
.categoryitem>.categoryicon{
  width: 32px;
  height: 32px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #eaeaea;
  text-align: center;
  margin-left:11px;
  margin-top:4px;
}
.categoryitem>.categorylabel{
  width: 55px;
  height: 18px;
  font:normal 12px '微软雅黑';
  color:#CCC;
  text-align:center;
  padding-top:3px;
}

.geoaddress>.selectbox{
	border: medium none;
	padding: 0px; 
	margin: 2px !important;
	height: 100%; 
	width:190px;
	outline: medium none;
	background-color: transparent;
	box-sizing: border-box;
	font-size: 14px;
	font-family: Roboto,Arial,sans-serif;
	box-shadow: none;
	line-height: 28px;
	transition: none 0s ease 0s !important;
	vertical-align: top;
	position:absolute;
}
.geoaddressdetail{
	word-wrap: break-word;
	word-break: break-all;
	white-space: normal;
}
/*----------------------------------switchbar---------------------*/
.switchlayerbar{
	position:absolute;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.65);
	border-radius: 4px;
	background-color: #FFF;
	-ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Strength=5,Direction=135, Color='#666666')";
}
 .switchlayerbar>div{
	display:inline-block;
	cursor:pointer;
	width:42px;
	height:20px;
	outline:solid 1px #B4B5B5;
	font:12px/1.5 微软雅黑;
	color:#166bc5;
	text-align:center;
 }
 
.switchlayerbar .selected{
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.65);
	border-radius: 4px;
	background-color:#F6F6F5;
	-ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Strength=5,Direction=135, Color='#666666')";
}
/*---------------------------------------------------------------*/
.locatePanel {
	position:absolute;
	padding:5px;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.65);
	border-radius: 4px;
	background-color: #FFF;
	-ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Strength=5,Direction=135, Color='#666666')";
}   
.locatePanel>.xyLable{
	float:left;
	padding-right:5px;
}
.locatePanel>.xyContent{
	float:left;
	width:80px;
	height:18px;
	border-radius: 2px;
	border:1px solid #ccc;
	background-color: #FFF;
	font:normal 14px '微软雅黑';
	padding-left:3px;
	margin-right:5px;
}

.locatePanel>.locateBtn {
	float:left;
	height:22px;
	width:22px;
	fill:rgb(22,106,197);
	cursor:pointer;
}
.locatePanel>.locateBtn:hover{
	fill:#e97e61;
}
.locatePanel>.copyBtn {
	float:left;
	background: url("images/toptoolbar/copy.png") no-repeat center center;
	padding-top:9px;
	padding-left:0px;
	height:23px;
	width:16px;
	float:left;
	cursor:pointer;
}
.locatePanel>.copyBtn:hover{
	background: url("images/toptoolbar/copyhover.png") no-repeat center center;
	padding-top:9px;
	padding-left:0px;
	height:23px;
	width:16px;
	float:left;
	cursor:pointer;
}

/*---------------------------------------------------------------*/
.MMSEyeInfoWin{position:absolute;display:none;}
.MMSEyeInfoWin>.Frame{
	position: absolute;
    border: 1px solid #CCC;
    padding: 5px;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #333;
    left: -50px;
    top: -129px;
	width: 90px;
}
.MMSEyeInfoWin>.Achor{
	position: absolute;
    width: 1px;
    border-top: 15px solid #FFF;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    left: -18px;
    top: -30px;
	
}

.MMSEyeInfoWin  .PreviewImg {
	position: relative;
    width: 100%;
    height: 100%;
    background-color: #999;
    border: 1px solid #999;
    overflow: hidden;
	height:70px;
}
.MMSEyeInfoWin  .PreviewTxt {
	font:normal 14px '黑体';
    color: #4C4C4C;
}

/**************************traceManager******************************/

.traceManagerPanel{
	width:250px;
	height:187px;
}

.traceManagerPanel .Wdate{
	background:url(images/tracemanager/calendar.png) no-repeat 98% 50%;
}
.traceManagerPanel .tracelength{
	float:right;
	font-size:12px;
	line-height:2.5;
}
.traceManagerPanel .traceStop{
	width:26px;
	height:26px;
	background:url(images/tracemanager/stop.png) no-repeat center center;
}
.traceManagerPanel .traceStop:hover{
	background:url(images/tracemanager/stop_hover.png) no-repeat center center;
}
.traceManagerPanel .tracePlay{
	width:26px;
	height:26px;
	background:url(images/tracemanager/play.png) no-repeat center center;
}
.traceManagerPanel .tracePause{
	background:url(images/tracemanager/pause.png) no-repeat center center;
}

.traceManagerPanel .locateTracePos{
	text-decoration:none;
	color:blue;
	margin-left:5px;
}
.traceManagerPanel .locateTracePos:hover{
	color:rgba(0,0,255,.8);
}

.traceManagerPanel .row{
	margin-top: 3px;
}
.datagrid-mask {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    display:block;
	z-index:99998;
	opacity: 1;
	background: rgba(0, 0, 0, 0.25) none repeat scroll 0% 0%;
}
.datagrid-mask-msg {
    position: absolute;
    top: 50%;
	left: 50%;
    margin-top: -20px;
	margin-left: -83px;
    padding: 10px 5px 10px 30px;
    width: auto;
	height: auto;
	margin-bottom:5px;
    border-width: 2px;
    border-style: solid;
	border-color: #C9C9C9;
	background: #FFF url("images/loading.gif") no-repeat scroll 5px center;
	z-index: 99999;
	display: inline;
}
.datagrid-iconmask {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display:block;
	z-index:99998;
	opacity: 1;
}
.datagrid-iconmask-icon {
    position: absolute;
    top: 48%;
	left: 48%;
    width: 40px;
	height: 40px;
	background:url("images/partsloading.gif") no-repeat scroll center;
	z-index: 99999;
	display: inline;
}
.imagebox{
	height:150px;
	margin-top:5px;
	cursor:pointer;
}
/******************************echarts realtime trace panel******************/
.realtime-trace-panel {
	position: absolute;
    width: 250px;
    height: 100px;
    background-color: rgba(218, 218, 218, .9);;
    border-radius: 5px;

}
/*********************************** trace play timeline ************************/
.timeline {
    position: absolute;
    width: 890px;
    height: 50px;
    border-radius: 5px;
    background-color: rgba(255,255,255,.6);
    right: 15px;
    bottom: 35px;
    /*box-shadow: 0px 0px 1px 1px #cbcbcb;*/
}

.timelineControl {
    width: 130px;
    height: 100%;
    float: left;
}

.timelinePlay, .timelineSlow, .timelineQuick, .timelinePause {
    float: left;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: 1;
}

.timelinePlay {
    width: 50px;
    background-image: url(images/echartstracemanager/timeline-play.png);
    background-size: 40px 40px;
}

.timelinePlay:hover {
    background-image: url(images/echartstracemanager/timeline-playhover.png);
}

.timelinePause {
    width: 50px;
    background-image: url(images/echartstracemanager/timeline-pause.png);
    background-size: 40px 40px;
}
.timelinePause:hover {
    background-image: url(images/echartstracemanager/timeline-pausehover.png);
}
.timelineMain {
    margin-left: 12px;
    width: 721px;
    float: left;
    height: 100%;
    position: relative;
    cursor: pointer;
}

.timeHour {
    height: 6px;
    border-bottom: 1px solid #c2c2c4;
    border-top: 1px solid #c2c2c4;
    border-left: 1px solid #a3a3a4;
    width: 29px;
    float: left;
    margin-top: 22px;
    background-color: #c2c2c4;
}

.timeHourFirst {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.timeHourFinal {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border-right: 1px solid #a3a3a4;
}

.timeNumber {
    position: absolute;
    height: 15px;
    width: 15px;
    font-size: 13px;
    bottom: 2px;
    color: #222;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.timelineProgress {
    background-image: url(images/echartstracemanager/progress.png);
    height: 40px;
    width: 40px;
    position: absolute;
    cursor: pointer;
    top: 4px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 10;
    margin-left: -20px;
}

.timelineLabel {
    position: absolute;
    height: 30px;
    width: 44px;
    top: -33px;
    margin-left: -22px;
    z-index: 20;
}

.caliperA {
	left: 0px
}

.caliperB {
	left: 721px;
}

.caliperA, .caliperB {
    height: 60px;
    position: absolute;
    width: 20px;
    margin-left: -10px;
}

.caliperLine {
    height: 50px;
    width: 2px;
    margin: 0 auto;
    background-color: #45a1f3;
}

.caliperPointerA {
    margin-left: -9px;
    border-right-color: #45a1f3;
}

.caliperPointerB {
	margin-left: 9px;
    border-left-color: #45a1f3;
}

.caliperPointerA {
    height: 0;
    width: 0;
    border: 10px solid #45a1f3;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-left-width: 10px;
    border-right-width: 10px;
    cursor: pointer;
}

 .caliperPointerB {
    height: 0;
    width: 0;
    border: 10px solid #45a1f3;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-width: 10px;
    border-right-width: 10px;
    cursor: pointer;
}
.caliperPartA {
    left: 0;
	width: 0px;
}
.caliperPartB {
    right: 0;
	width: 0px;
}
.caliperPartA, .caliperPartB {
    position: absolute;
    height: 100%;
    top: 0;
    background-color: rgba(40,40,40,.6);
}
.runPart {
    background-color: #2398ff;
    height: 6px;
    top: 22px;
    position: absolute;
    border: 1px solid #218eef;
}
.timelineLabelcontent {
    width: 100%;
    height: 25px;
    background-color: rgba(0,0,0,.7);
    border-radius: 2px;
    color: #efefef;
    line-height: 27px;
    text-align: center;
    font-size: 12px;
}
.timelineLabelpointer {
    height: 0;
    width: 0;
    border: 6px solid rgba(0,0,0,.7);
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    margin-left: 16px;
}
/************************************autocomplate******************/
.ac_results {
	padding: 0px;
	overflow: hidden;
	z-index: 9999999999;
	background-color: #FFF;
	border-radius: 0px 0px 2px 2px;
	border-top: 1px solid #D9D9D9;
	box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.3);
	box-sizing: border-box;
	font-size: 15px;
	font-family: Roboto,Arial,sans-serif;
	padding-bottom: 2px;
	position: relative;
	top: -1px;
	/*white-space: nowrap;*/
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results_nodata,.ac_results li {
	margin: 0px;
	padding: 9px 5px;
	cursor: default;
	display: block;
	font: menu;
	font-size: 12px;
	/*line-height: 30px;*/
	/*overflow: hidden;*/
	border-top: 1px solid #D9D9D9;
	padding-left: 30px;
	background-repeat:no-repeat;
	background-position:3px center;
	/*text-overflow:ellipsis;*/
}
.ac_even {
	background-color: white;
	color: black;
}

.ac_odd {
	background-color: white;
	color: black;
}
.ac_over {
	color: black;
}
.ac_results .pagination{user-select: none;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none; margin:0px auto;border-top: 1px solid #D9D9D9;padding-top:3px;padding-left:5px;}
.ac_results .pagination div a{width:28px; text-align:center; border:1px solid #999; cursor:pointer;font-size:12px; color:#999; line-height:23px; float:left; margin-left:5px;}
.ac_results .pagination div a.on{ color:#fff; background:#3c90d9; border:1px solid #3c90d9;}
.ac_results .pagination .pageUp,.ac_results .pagination .pageDown{font-size:12px; color:#999; line-height:23px; float:left; width:28px;border:1px solid #999; cursor:pointer;text-align:center;margin-left:5px; }

/*---------------------------heatmap legend ---------------------------*/
.heatmap-legend{
	padding:5px;
	z-index:9999999;
	height:150px;
	border:none;
	position:fixed;
	bottom:5px;
	right:5px;
	display:none;
}
.heatmap-legend-label{
	font-size:12px;
}
.heatmap-legend-content{
	margin:4px 0px 4px 0px;
	height:117px;
	width:20px;
}
.recLegend{
	padding:3px 0px 3px 0px;
	width:155px;
	bottom:0px;
	left:0px;
	position:absolute;
	border-top:2px solid #AAA;
	border-right:2px solid #AAA;
	background:rgba(255,255,255,0.8)
}


.recLegendArrow{
	background:url(./images/arrow.png) no-repeat 0px -0px;
	cursor:pointer;
}
.recLegendArrow.hide{
	background:url(./images/arrow.png) no-repeat 0px -78px;
}
.showgeomms{
	color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
}
.showgeomms:hover{
	color:blue;
}

#maskLayerControl{
	position: absolute;
    background: white;
    border: 1px solid #CCC;
    border-radius: 3px;
    padding: 4px;
    font-size: 12px;
	color:#969696;
	display:none;
}